<body>
    <h1>Informations sur le Compostage</h1>

    <p>
        Le compostage est un processus naturel qui transforme les matières organiques en un amendement du sol riche en nutriments. C'est une manière
        écologique de recycler les déchets de cuisine et de jardin.
    </p>

    <h2>Qu'est-ce qui peut être composté dans un jardin?</h2>

    <p>Vous pouvez composter une variété de matériaux pour enrichir le sol de votre jardin. Voici quelques éléments compostables courants :</p>

    <ul>
        <li>Épluchures de fruits et légumes</li>
        <li>Marcs de café et filtres</li>
        <li>Coquilles d'œufs</li>
        <li>Tontes de gazon</li>
        <li>Feuilles</li>
        <li>Petites branches et brindilles</li>
        <li>Journaux déchiquetés</li>
        <li>Carton</li>
        <li>Fumier d'herbivores (comme les vaches ou les chevaux)</li>
    </ul>

    <p>
        Évitez de composter la viande, les produits laitiers, les aliments gras et les déchets d'animaux domestiques, car ils peuvent attirer des
        parasites et ne se décomposent pas correctement.
    </p>

    <p>
        Le compostage ne réduit pas seulement la quantité de déchets envoyés aux décharges, mais il contribue également à créer un sol riche en
        nutriments bénéfique pour vos plantes et à promouvoir un environnement plus sain.
    </p>

    <p>Joyeux compostage !</p>
</body>
