<h1 mat-dialog-title>{{ garden.name }}</h1>
<mat-dialog-content>Combien de sac de composte voulez-vous donner?</mat-dialog-content>
<mat-dialog-content>
    <mat-label>Nombre de sac</mat-label>
    <input matInput type="number" min="1" max="30" [(ngModel)]="numberOfBag" id="compostBag" />
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button color="accent" mat-dialog-close>Annuler</button>
    <button mat-button color="primary" mat-dialog-close cdkFocusInitial (click)="sendBag()">Envoyer</button>
</mat-dialog-actions>
