<app-top-bar></app-top-bar>
<div class="container justified">
    <img src="./assets/img/logo-no-background.png" alt="GrowGreen" />
    <section id="server-message" class="justified">
        <div class="justified">
            <button class="button" (click)="getMessagesFromServer()">Trouver des jardins</button>
            <button class="button" (click)="sendTimeToServer()">Créer un jardin</button>
            <button class="button" routerLink="/material">Renseignements</button>
        </div>
    </section>


    <footer class="footer-item">
        <p>
            <span>PolyHx 2024</span> 
        </p>
    </footer>
</div>
