<mat-card class="garden">
    <mat-card-header>
        <mat-card-title-group>
            <mat-card-title class="title">{{ garden.name }}</mat-card-title>
            <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Image d'un jardin" />
        </mat-card-title-group>
    </mat-card-header>
    <mat-card-content class="space-between padding-top"> <b>Adresse: </b>{{ garden.location }} </mat-card-content>
    <mat-card-content class="space-between padding-top" *ngIf="garden.dimension">
        <b>Dimension: </b><span>{{ garden.dimension }} m<sup>2</sup></span>
    </mat-card-content>
    <mat-card-content class="padding-top wrap" *ngIf="garden.products.length !== 0 && garden.products[0]">
        <b>Produit:</b>
        <span *ngFor="let product of garden.products" class="product"> {{ product }} </span>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button color="primary">Envoyer du composte</button>
    </mat-card-actions>
</mat-card>
