.garden {
    width: 500px;
    max-width: 500px;
    height: 327px;
    max-height: 327px;
    margin: 5px;
    font-size: 20px;
}

.title {
    font-size: 30px;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.padding-top {
    padding-top: 10px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.product {
    padding-left: 15px;
}
