<div class="background">
    <div class="title-container">
        <p>Vos requêtes:</p>
    </div>
    <div class="flex-container">
        <div>
            <table mat-table [dataSource]="outDataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="jardin">
                    <th mat-header-cell *matHeaderCellDef>Nom du jardin</th>
                    <td mat-cell *matCellDef="let element">{{ element.garden }}</td>
                </ng-container>

                <ng-container matColumnDef="utilisateur">
                    <th mat-header-cell *matHeaderCellDef>Nom de l'utilisateur</th>
                    <td mat-cell *matCellDef="let element">{{ element.user }}</td>
                </ng-container>

                <ng-container matColumnDef="etat">
                    <th mat-header-cell *matHeaderCellDef>État</th>
                    <td mat-cell *matCellDef="let element">{{ element.state }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="outColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: outColumns"></tr>
            </table>
        </div>
    </div>
    <div class="title-container">
        <p>Offres:</p>
    </div>
    <div class="flex-container">
        <div>
            <table mat-table [dataSource]="inDataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="jardin">
                    <th mat-header-cell *matHeaderCellDef>Nom du jardin</th>
                    <td mat-cell *matCellDef="let element">{{ element.garden }}</td>
                </ng-container>

                <ng-container matColumnDef="utilisateur">
                    <th mat-header-cell *matHeaderCellDef>Nom de l'utilisateur</th>
                    <td mat-cell *matCellDef="let element">{{ element.user }}</td>
                </ng-container>

                <ng-container matColumnDef="nbSac">
                    <th mat-header-cell *matHeaderCellDef>Nombre de sac</th>
                    <td mat-cell *matCellDef="let element">{{ element.nBags }}</td>
                </ng-container>

                <ng-container matColumnDef="reponse">
                    <th mat-header-cell *matHeaderCellDef>Votre reponse</th>
                    <td mat-cell *matCellDef="let element">
                        <!--<form>
                            <input type="radio" id="html" name="fav_language" value="1" />
                            <label for="html">Accepter</label><br />
                            <input type="radio" id="css" name="fav_language" value="2" />
                            <label for="css">Refuser</label><br />
                            <input type="submit" value="Enregistrer" />
                        </form>-->
                        <form (ngSubmit)="onSubmit()">
                            <label> <input type="radio" name="decision" [(ngModel)]="element.accepted" value="yes" /> Accepter </label>
                            <label> <input type="radio" name="decision" [(ngModel)]="element.accepted" value="no" /> Refuser </label>

                            <button type="submit">Submit</button>
                        </form>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="inColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: inColumns"></tr>
            </table>
        </div>
    </div>
</div>
