<div class="background">
    <div class="title-container">
        <p>Vos requêtes:</p>
    </div>
    <div class="flex-container">
        <div>
            <table mat-table [dataSource]="outDataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="jardin">
                    <th mat-header-cell *matHeaderCellDef>Nom du jardin</th>
                    <td mat-cell *matCellDef="let element">{{ element.garden }}</td>
                </ng-container>

                <ng-container matColumnDef="utilisateur">
                    <th mat-header-cell *matHeaderCellDef>Nom de l'utilisateur</th>
                    <td mat-cell *matCellDef="let element">{{ element.user }}</td>
                </ng-container>

                <ng-container matColumnDef="etat">
                    <th mat-header-cell *matHeaderCellDef>État</th>
                    <td mat-cell *matCellDef="let element">{{ element.state }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="outColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: outColumns"></tr>
            </table>
        </div>
    </div>
    <div class="title-container">
        <p>Offres:</p>
    </div>
    <div class="flex-container">
        <div>
            <table mat-table [dataSource]="inDataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="jardin">
                    <th mat-header-cell *matHeaderCellDef>Nom du jardin</th>
                    <td mat-cell *matCellDef="let element">{{ element.garden }}</td>
                </ng-container>

                <ng-container matColumnDef="utilisateur">
                    <th mat-header-cell *matHeaderCellDef>Nom de l'utilisateur</th>
                    <td mat-cell *matCellDef="let element">{{ element.user }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="inColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: inColumns"></tr>
            </table>
        </div>
    </div>
</div>
