<div class="garden-container">
    <h1>Créer un jardin</h1>
    <mat-form-field>
        <mat-label>Nom du jardin</mat-label>
        <input matInput [(ngModel)]="garden.name" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Adresse</mat-label>
        <input matInput [(ngModel)]="garden.location" />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Dimensions en m²</mat-label>
        <input matInput [(ngModel)]="garden.dimension" />
    </mat-form-field>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
            <mat-panel-title> Aliments</mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngFor="let product of garden.products; index as i; trackBy: trackByFn">
            <mat-form-field>
                <mat-label>Entrer un aliment</mat-label>
                <input matInput [(ngModel)]="garden.products[i]" />
            </mat-form-field>
        </div>
        <button mat-raised-button color="accent" (click)="garden.products.push('')">Ajouter</button>
    </mat-expansion-panel>
    <label>Photo du jardin</label>
    <input type="file" (change)="handleFileInput($event)" />
    <button mat-raised-button color="primary" (click)="confirm()">Confirmer</button>
</div>
