.topBar {
    background-color: #4d7e3e;
    position: relative;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    padding: 10px;
    height: 80%;
    cursor: pointer;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.logo:hover {
    transform: translateY(-2px);
}

.name {
    color: white;
    font-size: 60px;
}

.button {
    background-color: #4d7e3e;
    border: none;
    margin-right: 10px;
    color: white;
    font-size: larger;
    width: 100px;
}

.icon {
    font-size: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 500ms cubic-bezier(0.23, 1, 0.32, 1);
}

.icon:hover {
    transform: translateY(-2px);
}
